.arkoons-main-card-section {
    width: 68%;
    margin-left: 44vh;
}


.first-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left>a {
    padding: 6px 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin-right: -4px;
    border: 1px solid black;
}
.left .active {
    background-color: #eee;
}
.left .second {
    color: blue;
    border-left: none;
}


.dropdown {
    position: relative;
    display: inline-block;
    background-color: #eee;
    border-radius: 5pc;
    margin-right: 5vh;
  }
  
  .dropdown > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .dropdown > label,
  .dropdown > a[role="button"] {
    display: inline-block;
    padding: 6px 15px;
    color: #333;
    line-height: 1.5em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .dropdown > label:hover,
  .dropdown > a[role="button"]:hover,
  .dropdown > a[role="button"]:focus {
    border-color: #333;
  }
  
  .dropdown > label:after,
  .dropdown > a[role="button"]:after {
    content: "\f0d7";
    display: inline-block;
    margin-left: 6px;
  }
  
  .dropdown > ul {
    position: absolute;
    z-index: 999;
    display: block;
    left: -100vw;
    top: calc(1.5em + 14px);
    border: 1px solid #8c8c8c;
    background: #fff;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    width: 25vh;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
  }
  .dropdown_filters {
    margin-right: 12vh;
  }
  .dropdown_filters > ul {
    width: 19vh;
  }
  .dropdown > ul a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown > ul a:hover,
  .dropdown > ul a:focus {
    background: #ececec;
  }
  
  .dropdown > input[type="checkbox"]:checked ~ ul,
  .dropdown > ul:target {
    left: 0;
  }
  
  .dropdown > [type="checkbox"]:checked + label:after,
  .dropdown > ul:target ~ a:after {
    content: "\f0d8";
  }
  
  .dropdown a.close {
    display: none;
  }
  
  .dropdown > ul:target ~ a.close {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-indent: -100vw;
    z-index: 1000;
  }
  
body {
    padding: 30px;
    color: #333;
  }
  
  .dropdown + h2 {
    margin-top: 60px;
  }


.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.499)
}


.card {
  position: relative;
  width: 320px;
  height: 60vh;
  top: 1vh;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -70%;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #ffbc00, #ff0058);
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "GREANWEET";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
.card .imgBox img {
  width: 70%;
  height: 90%;
}
/* .card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
} */

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 16px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #FFFFDC;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0vh;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}
.card_main_content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}