body {
    margin: 0;
    font-size: 20px;
    background-color: 1E1E1E;
}

/* Style the list */
ul.path_main_container {
    padding: 10px 16px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  /* Display list items side by side */
  ul.path_main_container li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.path_main_container li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.path_main_container li a {
    color: #0275d8;
  }
  
  /* Add a color on mouse-over */
  ul.path_main_container li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
.promo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  .fa-solid {
    margin-left: 2vh;
    transform: rotateZ(45deg);
  }

  .product_img {
    border: 1px solid black;
    width: 65vh;
    margin-left: 5vh;
  }
  .product_img img {
    width: 100%;
  }


.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.277);
}



.container {  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: 0.4fr 2.2fr 0.4fr;
  gap: 0px 1%;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    "product_img product_carateristiques_container"
    ". .";
}

.product_img { grid-area: product_img; }

.product_carateristiques_container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3% 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "product_title"
    "catarestiques_main_content"
    "user_actions";
  grid-area: product_carateristiques_container;

  border-radius: 10px;
  /* background: #292929;
  box-shadow:  12px 12px 49px #101010,
               -12px -12px 49px #424242;
  color: white; */
  padding: 40px;
  width: 50%;
}

.product_title { grid-area: product_title; font-size: 2.5vh;
  position: relative;
  top: -7vh;
  left: -17vh; }

.catarestiques_main_content { grid-area: catarestiques_main_content; }

.user_actions {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1%;
  grid-auto-flow: row;
  grid-template-areas:
    "action_1 action_2 action_3";
  grid-area: user_actions;
}
.user_actions a {
  text-decoration: none;
}
.action_1 { grid-area: action_1; }

.action_2 { grid-area: action_2; }

.action_3 { grid-area: action_3; }
